:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background: #efefef;
}

#app {
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    min-height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.btn {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    &:hover {
        cursor: pointer;
        color: #fff;
    }

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    &-primary {
        background-color: #2d6bb3;

        &:active {
            // darken background color by 15%
            background-color: darken(#2d6bb3, 15%);
        }
    }

    &-danger {
        background-color: #e53e3e;

        &:active {
            // darken background color by 15%
            background-color: darken(#e53e3e, 15%);
        }
    }

    &-sm {
        padding: 0.25rem 0.5rem;
    }
}
